asgiref==3.8.1
beautifulsoup4==4.13.4
black==25.1.0
cachetools==5.5.2
click==8.1.8
colorama==0.4.6
decorator==5.2.1
Django==4.2.20
django-unicorn==0.61.0
mccabe==0.7.0
mypy_extensions==1.1.0
orjson==3.10.18
packaging==25.0
pathspec==0.12.1
pillow==11.2.1
platformdirs==4.3.7
psycopg2==2.9.10
pycodestyle==2.13.0
pyflakes==3.3.2
shortuuid==1.0.13
soupsieve==2.7
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.13.2
tzdata==2025.2
