:root {
    --color-green-500: #004338;
    --color-green-400: #006D5B;
    --color-green-300: #00BD9E;
    --color-green-200: #5FFFE5;
    --color-green-50: #AFFFF2;

    --color-white-500: #d6d3cc;
    --color-white-200: #ebe9e6;
    --color-white-50: #f8f8f7;

    --color-black: #333;
    --color-green-success: #7BB661;
    --color-red-danger: #d8493d;
    --color-yellow-info: #F2FC9E;
    --color-green-hover: #00bd9e1a;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
    line-height: 1.2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sansation", sans-serif;
}

main {
    background-color: var(--color-white-200);
    position: relative;
}

/*Begining nav's styles*/
.bg-modal {
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.bg-modal.show {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.sidebar__container {
    width: 320px;
    height: 100vh;
    background-color: var(--color-green-500);
    transform: translateX(-500px);
    transition: transform 0.5s ease-in;
}

.bg-modal.show .sidebar__container {
    transform: translateX(0);
    transition: transform 0.4s ease-in;
}

/*This button opne the sidebar*/
.sidebar-button {
    background-image: url('../assets/sidebar-white.svg');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 0.3s ease-in,
        background-image 0.3s ease-in;
}

.sidebar-button:hover {
    background-color: var(--color-green-300);
    transition: background-color 0.2s ease-in,
        background-image 0.2s ease-in;
}

.sidebar__button-close {
    position: absolute;
    top: 2px;
    right: 15px;
    height: 2rem;
    width: 2rem;
    color: #00BD9E;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    line-height: 1.2;
    border-radius: 50%;
    transition: all 0.4s ease-in;
}

.sidebar__button-close:hover {
    background-color: var(--color-green-hover);
    transition: all 0.2s ease-in;
}

.sidebar-text {
    line-height: 1.2;
    color: var(--color-white-50);
    text-transform: capitalize;
    text-align: left;
}

.sidebar-img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid var(--color-white-50);
    margin: auto;
}

.logout-container {
    border: 1px solid var(--color-green-400);
    border-radius: 5px;
    cursor: pointer;
}

.logout-container:hover {
    background-color: var(--color-green-hover);
}

.icon-logout {
    background-image: url('../assets/logout.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 1;
}

.sidebar__list-icon {
    background-image: url('../assets/folder.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.8;
}

.sidebar__item:hover {
    background-color: var(--color-green-hover);
    border-radius: 5px;
    border: 1px solid var(--color-green-400);
    cursor: pointer;
}

/*Finished nav styles*/
/*Begining the header styles*/

.header {
    background-color: var(--color-green-500);
}

.title {
    color: var(--color-white-50);
}

.input-search {
    min-width: 32rem;
    max-width: 60rem;
    height: 4.2rem;
    font-size: 1.375rem;
    line-height: 1.2;
    border-radius: 5px;
    border: solid 1px var(--color-green-300);
    padding: 4px 8px;
}

.btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.2rem;
    width: 11rem;
    margin-left: 16px;
    font-size: 1.777rem;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    color: var(--color-white-50);
    background-color: var(--color-green-300);
    border-radius: 5px;
    border: none;
    transition: all 0.4s ease;
}

.btn-add:hover {
    background-color: var(--color-green-400);
    color: var(--color-green-50);
    border: solid 1px var(--color-green-400);
    transition: all 0.4s ease;
}

.btn-cancel{
    color: var(--color-green-300);
    background-color: transparent;
}

.btn-cancel:hover {
    background-color: var(--color-green-hover);
    color: var(--color-green-400);
    transition: all 0.4s ease;
    border: none;
}

/*Ending the header styles*/
/*Begining the list styles*/

.list__empty-text {
    font-size: 4.196rem;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 50px auto;
    color: var(--color-red);
    font-weight: bold;
}

.list__item {
    position: relative;
    background-color: var(--color-white-50);
    border-radius: 10px;
    width: 27rem !important;
    height: 28rem;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.06),
        inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

.list__item img {
    width: 8rem;
    height: 8rem;
    border-radius: 5px;
    border: solid 1px var(--color-green-500);
    margin: 0 auto;
}

.text {
    font-size: 1.375rem;
    line-height: 1.2;
    font-weight: normal;
    color: var(--color-black);
    padding: 2px 0;
    margin: 0;
}

.text-bool {
    border-radius: 10px;
    font-size: 1.777rem;
    line-height: 1.2;
    text-align: center;
    padding: 8px;
    margin: 0px;
    font-weight: bolder;
    color: var(--color-white-50);
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.06),
        inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

.true {
    background-color: var(--color-green-300);
}

.false {
    background-color: var(--color-red-danger);
}

.btn-icon {
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    height: 3.5rem;
    width: 3.5rem;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.4s ease;
}

.btn-edit {
    background-image: url('../assets/edit.svg');
    border: 1px solid var(--color-green-500);
    background-color: transparent;
}

.btn-edit:hover {
    background-image: url('../assets/edit.svg');
    background-color: var(--color-green-hover)
}

.btn-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-red-danger);
    border: 1px solid var(--color-red-danger);
    background-color: transparent;
}

.btn-delete:hover {
    background-color: rgb(216, 73, 61, 0.1);
}

.btn-detail {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

/*Ending the list styles*/
/*Begining the form styles*/
form label{
    font-size: 1.777rem;
    line-height: 1.2;
    color: var(--color-green-500);
    font-weight: 500;
}

form input, select{
    font-size: 1.777rem !important;
    line-height: 1.2;
    color: var(--color-black);
    font-weight: 500;
}

form select option:hover{
    background-color: var(--color-green-hover);
}

form input:focus,
textarea:focus,
select:focus {
  border-color: var(--color-green-200) !important;
  box-shadow: 0 0 0 0.05rem var(--color-green-200)!important;
  outline: none;
}
