:root {
    --color-green-500: #006D5B;
    --color-green-400: #78775e;
    --color-green-300: #97967a;
    --color-green-200: #b1b09b;
    --color-green-100: #cbcabd;
    --color-green-50: #e5e5de;

    --color-gray-500: #A4a593;
    --color-gray-400: #b3b4a5;
    --color-gray-300: #c2c3b7;
    --color-gray-200: #d2d2c9;
    --color-gray-100: #e1e1db;
    --color-gray-50: #f0f0ed;

    --color-white-500: #d6d3cc;
    --color-white-400: #dddad5;
    --color-white-300: #e4e2dd;
    --color-white-200: #ebe9e6;
    --color-white-100: #f1f0ee;
    --color-white-50: #f8f8f7;

    --color-black: #333;
    --color-green-success:#7BB661;
    --color-red-danger:#d8493d;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
    line-height: 1.2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sansation", sans-serif;
}

body{
    background-color: var(--color-white-100);
}

/*Begining nav's styles*/
.nav__container {
    max-width: 280px;
    height: 100vh;
    background-color: var(--color-green-500);
}

.nav__text {
    font-weight: normal;
    font-size: 1.375rem;
    line-height: 1.2;
    color: var(--color-white-50);
    text-transform: capitalize;
    text-align: left;
}

.nav__text-light {
    font-weight: lighter;
    font-size: 1.1rem;
    line-height: 1.2;
    color: var(--color-white-50);
    opacity: 0.8;
    transition: all 0.4s ease;
}

.nav__text-light:last-child:hover {
    opacity: 1;
    transform: translateY(2px);
    font-weight: medium;
    transition: all 0.3s ease;
}

.nav__image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid var(--color-white-50);
    padding: 1px;
}

.item-icon {
    background-image: url('../assets/folder.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.8;
}

.nav__link {
    font-weight: medium;
    font-size: 1.375rem;
    line-height: 1.2;
    color: var(--color-white-50);
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.nav__item {
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin: 2px 0;
    transition: all 0.2s ease-in-out;
}

.nav__item:hover {
    background-color: var(--color-green-500);
    transition: all 0.3s ease-in-out;
}

/*Finished nav styles*/
/*Begining the header styles*/
.title {
    width: 100%;
    color: var(--color-green-500);
    text-align: left;
    margin-bottom: 12px;
}

.input-search {
    min-width: 32rem;
    max-width: 60rem;
    height: 4.2rem;
    font-size: 1.375rem;
    line-height: 1.2;
    border-radius: 5px;
    border: solid 1px var(--color-green-300);
    padding: 4px 8px;
}

.btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.2rem;
    width: 12rem;
    font-size: 1.777rem;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    background-color: var(--color-gray-500);
    color: var(--color-white-50);
    border-radius: 5px;
    transition: all 0.4s ease;
}

.btn-add:hover {
    background-color: var(--color-white-50);
    color: var(--color-gray-500);
    border: solid 1px var(--color-gray-500);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    transition: all 0.4s ease;
}

/*Ending the header styles*/

/*Begining the list styles*/
.list__empty-text {
    font-size: 4.196rem;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 50px auto;
    color: var(--color-red);
    font-weight: bold;
}

.list__item {
    position: relative;
    height: 30rem;
    background-color: var(--color-white-50);
    border-radius: 10px;
    box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.06),
    inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

.list__item img {
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
    border: solid 1px var(--color-green-500);
    margin: 0 auto;
}

.text {
    font-size: 1.375rem;
    line-height: 1.2;
    font-weight: normal;
    color: var(--color-black);
    margin: 4px 0;
}

.text-bool {
    border-radius: 10px;
    font-size: 1.777rem;
    line-height: 1.2;
    border: 1px solid var(--color-gray-100);
    color: var(--color-white-50);
    text-align: center;
    padding: 8px;
    margin: 0px;
}

.true {
    background-color: var(--color-green-success);
}

.false {
    background-color:var(--color-red-danger);
}

.btn-icon {
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    height: 3.8rem;
    width: 3.8rem;
    margin: 0 auto;
    padding: 4px;
    border-radius: 5px;
    z-index: 2;
    transition: all 0.4s ease;
    border: 1px solid var(--color-green-400);
    background-color: var(--color-green-400);
    margin: auto 2px;
}

.btn-icon:hover {
    border: 1px solid var(--color-black);
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.btn-edit {
    background-image: url('../assets/edit-white.svg');
}

.btn-edit:hover {
    background-image: url('../assets/edit.svg');
    background-color: var(--color-white-50);
}

.btn-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-white-50);
}

.btn-delete:hover {
    background-color: var(--color-white-50);
    color: var(--color-red);
}

.btn-detail {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}


/*
    Ending the list list_view html
    and beging the detail_view.html
*/

.modal {
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30rem;
    max-height: 32rem;
    max-width: 64rem;
    min-width: 62rem;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    background: var(--color-white-100);
}

.btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2px;
    right: 4px;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem;
    color: var(--color-red);
    background-color: transparent;
    border: none;
    z-index: 5;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-close:hover {
    transform: translateY(-2px);
    transform: scale(1.2);
    transition: all 0.4s ease;
}

.subtitle {
    width: 100%;
    font-size: 2.886rem;
    line-height: 1.2;
    color: var(--color-blue-500);
    text-align: center;
    margin-bottom: 12px;
}

.detail-img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: none;
    margin: 12px auto;
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.15),
        0 12px 24px rgba(0, 0, 0, 0.1);
}

.text-detail {
    font-size: 1.719rem;
    line-height: 1.2;
    font-weight: lighter;
    text-align: right;
    width: 100%;
}