{% load static %}
<img class="detail-img" alt="esta es la imágen del personal" src="{{liable.image.url}}">
<h1 class="subtitle">
    {{liable.name | upper }} {{liable.lastName | upper }}
</h1>
<p class="text-detail">
    {{liable.position | capfirst}}
</p>
<p class="text-detail">
    {{liable.workstation | upper}}
</p>

<a class="text-detail" href="mailto:">
    {{liable.email}}
</a>

<a class="text-detail"  href="">
    {{liable.telephone}}
</a>

{% if liable.active == True %}
    <p class="text-bool text-true">Activo</p>
{% else %}
    <p class="text-bool text-false">Retirado</p>
{% endif %}