<div>
    <img class="detail-img" alt="esta es la imágen del personal" src="{{select_liable.image.url}}">
    <h1 class="subtitle">
        {{select_liable.name | upper }} {{select_liable.lastName | upper }}
    </h1>
    <p class="text-detail">
        {{select_liable.position | capfirst}}
    </p>
    <p class="text-detail">
        {{select_liable.workstation | upper}}
    </p>

    <a class="text-detail" href="mailto:">
        {{select_liable.email}}
    </a>

    <a class="text-detail"  href="">
        {{select_liable.telephone}}
    </a>

    {% if select_liable.active == True %}
        <p class="text-bool text-true">Activo</p>
    {% else %}
        <p class="text-bool text-false">Retirado</p>
    {% endif %}
</div>