{% load unicorn%}
{% load static %}
<div class="section"
    x-data="{ open: false }">

    <div class="title-container">
        <h5 class="title">Personal</h5>
        <input type="search" 
            placeholder="Buscar personal"
            class="input-search"
            x-on:focus="open = false"
            unicorn:model="search" 
            unicorn:change.debounce-100ms="search_liable">

        <a class="btn-add" href='#'>Agregar</a>
    </div>

    <ul class="list-objects">

        <li class="list__item">
            <p></p>
            <p>Nombre</p>
            <p>Cargo</p>
            <p>Estado</p>
            <p>Ubicación</p>
            <p></p>
            <p></p>
        </li>

        {% if liables%}
        {% for item in liables %}
        <li class="list__item">

            <img src="{{item.image.url}}" alt="este es el ícono del personal">

            <p class="text">
                {{item.name | upper }} {{item.lastName | upper }}
            </p>
            <p class="text">
                {{item.position | capfirst}}
            </p>
            <p class="text text-center">
                {{item.workstation | upper}}
            </p>

            {% if item.active == True %}
            <p class="text-bool text-true">Activo</p>
            {% else %}
            <p class="text-bool text-false">Retirado</p>
            {% endif %}

            <a class="btn-edit" href="#e"></a>
            <button type="button" 
                    class="btn-detail"
                    x-on:click.prevent="open = true"
                    unicorn:click.prevent="get_liable('{{item.id}}')">
            </button>
            <a class="btn-delete" href="#d">X</a>

        </li>
        {% endfor %}
        {% else %}
        <p class="list__empty-text">
            No hay personal registrado
        </p>
        {% endif %}
    </ul>

    {% if liable and modal_state %}
    <div class="modal" 
        id="modal-detail" 
        x-show="open"
        x-transition>
        <div class="modal-content">
            {% unicorn 'liable-detail' liable=liable%}
            <button type="button" 
                class="btn-close" 
                id="btn-close"
                x-on:click="open = false"
                unicorn:click="close_modal">
            x
            </button>
        </div>

    </div>
    {% endif %}
</div>


