<div class="container-fluid m-0 p-0">
    <div class="row bg-white">
        <form unicorn:submit.prevent='submit' class="row mt-5" autocomplete="off">

            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label" for="position">
                    Cargo
                </label>
                <select unicorn:model.defer="position" name="position"
                        class="form-select" id="position">
                    <option value="0" >Seleccione</option>
                    {% for position in positions %}
                    <option value="{{position.id}}">
                        {{position.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label" for="name">
                    Nombres
                </label>
                <input type="text" unicorn:model.defer="name" class="form-control" id="name">
            </div>

            <div class="mb-3">
                <label class="form-label" for="lastName">
                    Apellidos
                </label>
                <input type="text" unicorn:model.defer="lastName" class="form-control" id="lastName">
            </div>

            <div class="mb-3">
                <label class="form-label" for="email">Correo electrónico</label>
                <input type="email" unicorn:model.defer="email" class="form-control" id="email">
            </div>

            <div class="mb-3">
                <label class="form-label" for="telephone">Teléfono</label>
                <input type="tel" unicorn:model.defer="telephone" class="form-control" id="telephone">
            </div>

            <div class="mb-3">
                <label class="form-label" for="workstation">Puesto de trabajo</label>
                <input type="text" unicorn:model.defer="workstation" class="form-control" id="workstation">
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Imágen</label>
                <input unicorn:model.defer="image" type="file" name="image" id="image" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-check-label" for="active">Estado: </label>
                <input type="checkbox" unicorn:model.defer="active" name="active" id="active" class="form-check-input">
            </div>

            <div class="row mb-3 p-3 justify-content-end">
                <button type="submit" class="btn-add col-4">
                    Agregar
                </button>

                <button type="button" class="btn-add col-4" unicorn:click.prevent='updated_liable'>
                    Modificar
                </button>

                <button type="button" class="btn-add btn-cancel col-4" data-bs-dismiss="modal" >
                    X Cancelar
                </button>
            </div>

            {% if component.success %}
                <p>{{ component.success }}</p>
            {% endif %}


            {% if component.form_errors %}
                <div class="errors">
                    {% for field, errors in component.form_errors.items %}
                        <p><strong>{{ field }}:</strong> {{ errors|join:", " }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </div>
</div>