{% load unicorn %}
<section>

    <div class="title-container">
        <h1 class="title">Personal</h1>
        <a  class="btn-add" href="#">Agregar</a>
    </div>
    
    <ul class="list-objects">
        
        <li class="list__item">
            <p></p>
            <p>Nombre</p>
            <p>Cargo</p>
            <p>Estado</p>
            <p>Ubicación</p>
            <p></p>
            <p></p>
        </li>
    
        {% for  liable in  liables %}
            <li class="list__item">
    
                <img src="{{liable.image.url}}" alt="este es el ícono del personal">
                <p class="text">
                    {{liable.name | upper }} {{liable.lastName | upper }}
                </p>
                <p class="text">
                    {{liable.position | capfirst}}
                </p>
                <p class="text text-center">
                    {{liable.workstation | upper}}
                </p>
    
                {% if liable.active == True %}
                    <p class="text-bool text-true">Activo</p>
                {% else %}
                    <p class="text-bool text-false">Retirado</p>
                {% endif %}
    
                <a class="btn-edit" href="#e"></a>
                <button type="button"
                    class="btn-detail"
                    unicorn:click.prevent="get_liable('{{liable.id}}')">
                </button>
                <a class="btn-delete" href="#d">X</a>
    
            </li>
        {% endfor %}
            
        {% if  select_liable%}
        {% unicorn 'liable-detail' select_liable=select_liable%}
        {% endif %}
    </ul>

</section>