{% load static %}
<div class="container p-0 m-0 nav__container">

    <div class="row m-auto p-3 ">
        <div class="col-3 d-flex justify-content-center align-items-center">
            <img class="nav__image" 
                src="{% static 'assets/user.svg' %}" 
                alt="esto es un ícono de usuario">
        </div>
        <div class="col-9 d-flex flex-column align-items-end">
            <p class="m-0 p-1 nav__text">
                Dario de Jesús Ocampo Betancourt
            </p>
            <p class="m-0 p-1 nav__text-light">
                Director técnico
            </p>
            <a class="m-0 p-1 nav__text-light" href="#">
                Cerrar Sesión
            </a>
        </div>
    </div>

    <nav class="row m-auto p-3">
        <ul class="nav m-0 p-0 flex-colum">
            <li class="nav__item container d-flex justify-content-start align-items-center">
                <i class="item-icon"></i>
                <a class="nav__text px-3" href="#">Calibraciones</a>
            </li>
            <li class="nav__item container d-flex justify-content-start align-items-center">
                <i class="item-icon"></i>
                <a class="nav__text px-3" href={% url 'liable:liable-index' %}>Personal</a>
            </li>
        </ul>
    </nav>

</div>